body {
  background-color: #000;
  font-family: sans-serif !important;
}

html {
  scroll-behavior: smooth !important;
}

@font-face {
  font-family: "Nautilus";
  src: url("/fonts/Nautilus.otf");
 }

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-around;
}

header ul li {
  display:block;
  float:left;
  padding-left:10px;
}


header {
background-image: url(../img/bureau.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
height: 100vh;
width: 100%;
display: table;
}

h1 {
  text-align: center;
  padding-top: 180px;
  font-size:  4.5rem !important;
  font-weight: 900 !important;
  color: #FFF !important;
  text-shadow: 1px 1px 2px #000;
}

.titre {
  display: flex;
  justify-content: center;
}

.titre-btn {
  display: flex;
  justify-content: center;
  background: #87d05e;
  font-size:  1.5rem !important;
  color: #FFF;
  padding: 5px 12px;
  border-radius: 30px;
  cursor: pointer;
}

h2 {
  text-align: center;
  padding-top: 25px;
}
  
.menu {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.nav {
  list-style-type:none;
  color: #FFF;
  padding: 5px;
}

.nav a {
color: #FFF;
text-decoration: none;
}

.nav a:hover {
  background: #56b321;
  color: #FFF;
  text-decoration: none;
}

.switch {
  margin: 5px;
  padding-right: 120px;
}

.switch p {
  color: #FFF !important;
  font-family: "Nautilus";
  font-size: 1.3rem !important;
}

.recherche_p {
  margin: 5px 30px 0 0;
}

#search {
  background: rgba(255, 254, 254, 0.836);
  border-radius: 30px;
  padding: 5px;
}
 
 /* DEBUT BOUTON SCROLL  */

section.ok{
  background-color: #fff;
}

/* p{
  color: white;
  font-family: arial;
  display: flex;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
} */

.scroll-down {
  background: #87d05e;
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down:hover {
  background: #56b321;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  transform: scale(1)
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.testimonials {
  padding-bottom: 30px;
}

.ligne {
  width: 5%;
  margin: 2% 47%;
  border: 1px solid #000;
}

.ok div {
  text-align: center;
}

.trois {
  background-color: green;
}

.trois, p{
  color: #000;
}

.trois ul li {
  display:block;
  float:left;
  padding-left:20px;
}

.photo {
  display: flex;
  justify-content: center;
  padding: 50px 0 50px;
}

.photo ul li {
  padding: 5px 15px;
  border-left: solid 1px;
  border-top: solid 1px;
  border-bottom: solid 1px;
}

.design, .print {
  background-color: #FFF !important;
  color: green;
}

.Photography {
  border-radius: 30px 0 0 30px;
  color: #fff !important;
}

.print {
  border-right: solid 1px;
  border-radius: 0 30px 30px 0;
}

#galerie_haut img, #galerie_bas img {
  padding-bottom: 50px;
}

.more-work {
  display: flex;
  justify-content: center;
}

/********************* DEBUT CAROUSSEL ****************************/

/* Global */

.sr-only {
  position:absolute;
  width:1px;
  height:1px;
  padding:0;
  margin:-1px;
  overflow:hidden;
  clip:rect(0,0,0,0);
  white-space:nowrap;
  border:0
}

.carousel {
  position: relative;
  padding: 0;
  margin: 0;
}

.carousel-item {
  height: 200px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  list-style-type: none;
}

.portrait-1 {
  display: flex;
align-items: center;
  height: 200px;
  padding: 0 300px 0 300px;
}

.portrait-2 {
  display: flex;
align-items: center;
  height: 200px;
  padding: 0 300px 0 300px;
}

.portrait-3 {
  display: flex;
align-items: center;
  height: 200px;
  padding: 0 300px 0 300px;
}

.item-0 {
  background-color: rgb(205, 219, 235);
  text-align: center;
}

.item-1 {
  background-color: rgb(205, 219, 235);
  text-align: center;
  display: none;
}

.item-2 {
  background-color: rgb(205, 219, 235);
  text-align: center;
  display: none;
}

.imga {
  height: 40px;
  border-radius: 50%;
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.prev-image {
  left: 150px;
}

.next-image {
  right: 150px;
}

.caroussel-title {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

div.next .arrow-right {
  height: 15px;
  width: 15px;
  border-top: 2px solid grey;
  border-right: 2px solid grey;
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 90%;
  -webkit-transform: translate(-70%, -50%) rotate(45deg);
  -ms-transform: translate(-70%, -50%) rotate(45deg);
  -o-transform: translate(-70%, -50%) rotate(45deg);
  transform: translate(-70%, -50%) rotate(45deg);
}

.pause-btn {
  margin-top: 70px;
  text-align: center;
  z-index: 3 !important;
}

.carousel-pause-btn {
  background-color: rgb(205, 219, 235);
  color: #000;
  padding: 5px 12px;
  border-radius: 30px;
  cursor: pointer;
}


/********************* FIN DU CAROUSSEL ***************************/

.happy-clients {
  background: #f1f1f1;
  padding-bottom: 30px;
}

.clients {
  width: 100%;
}

.all-clients {
  margin-top: 70px;
  text-align: center;
  z-index: 3 !important;
}

.all-clients-btn {
  background: #dcdbdb;
  color: #7c7a7a;
  padding: 5px 22px;
  border-radius: 30px;
  cursor: pointer;
}

.team {
  background-color: #54d154;
}

.portrait {
  border-radius: 100px;
  min-width: 80%;
}

.vertical {
  border:         none;
  border-left:    1px solid hsla(100, 20%, 50%,50);
  height:         20vh;
  width:          50px;
}

.icones{
  display: flex;
  justify-content: space-around;
  padding: 5px 0 5px 0;
  border-radius: 30px 30px 30px 30px;
  background-color: #c5e9c5;
}

.reseaux {
  margin-left: 5px;
}

.imgRreseaux {
  max-width: 80%;
  border-radius: 100px;
}

