body {
  background-color: #000;
  font-family: sans-serif !important;
}

html {
  scroll-behavior: smooth !important;
}

@font-face {
  font-family: "Nautilus";
  src: url("/fonts/Nautilus.otf");
 }

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-around;
  background-image: url(../img/bureau.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  padding-top: 15px;
}

header ul li {
  display:block;
  float:left;
  padding-left:10px;
}

h1 {
  text-align: center;
  padding-top: 180px;
  font-size:  4.5rem !important;
  font-weight: 900 !important;
  color: #FFF !important;
  text-shadow: 1px 1px 2px #000;
}

.titre {
  display: flex;
  justify-content: center;
}

.titre-btn {
  display: flex;
  justify-content: center;
  background: rgb(135, 208, 94);
  font-size:  1.5rem !important;
  color: #FFF;
  padding: 5px 12px;
  border-radius: 30px;
  cursor: pointer;
}

.titre-btn:hover {
  background: #56b321;
  text-decoration: none !important;
  color: #FFF !important;
  transition: .2s ease-in-out !important;
}

h2 {
  text-align: center;
  padding-top: 25px;
}

p {
  text-align: center;
}
  
.menu {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.nav {
  list-style-type:none;
  color: #FFF;
  margin: 5px;
}

.navLi {
  padding: 10px;
}

.nav a {
  color: #FFF;
  text-decoration: none;
}

.navLi:hover {
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 8px;
  border-top: solid 5px #56b321;
  transition: .1s ease-in-out !important;
}

.switch {
  margin: 5px;
  transform: translateX(-80px);
}

.switch p {
  color: #FFF !important;
  font-family: "Nautilus";
  font-size: 1.3rem !important;
}

.recherche_p {
  margin: 5px 30px 0 0;
}

#search {
  background: rgba(255, 254, 254, 0.836);
  border-radius: 30px;
  padding: 5px 30px 5px 5px;
}

.btn-outline-secondary {
  transform: translateX(-50px);
  border-style: none !important;
}
 
 /* DEBUT BOUTON SCROLL  */

section.ok{
  background-color: #fff;
  padding-bottom: 30px;
}

.scroll-down {
  background: #87d05e;
  color: #FFF;
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down:hover {
  background: #56b321;
  transition: .2s ease-in-out !important;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 47%;
  margin-left: -16px;
  display: block;
  text-align: center;
  width: 122px;
  /* height: 32px; */
  /* border: 2px solid #FFF; */
  padding: 5px;
  background-size: 14px auto;
  border-radius: 30px;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  transform: scale(1)
}

.scroll-down:hover {
  color: #FFF;
  text-decoration: none;
}

/* .scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
} */

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

/* FIN BOUTON SCROLL  */

button {
  padding: 5px 12px;
  border-radius: 30px !important;
  cursor: pointer;
}

.learn {
  background: rgb(135, 208, 94);
  color: #FFF;
  font-weight: bold;
  padding: 7px 12px;
  border-radius: 30px !important;
  cursor: pointer;
}

.learn:hover {
  background: #56b321;
  color: #FFF;
  text-decoration: none;
  transition: .2s ease-in-out;
}

.testimonials {
  padding-bottom: 30px;
}

.ligne {
  width: 5%;
  margin: 2% 47%;
  border: 1px solid #000;
}

.ok div {
  text-align: center;
}

.trois {
  background: #87d05e;
  padding-bottom: 30px;
}

.trois, p{
  color: #000;
}

.trois ul li {
  display:block;
  float:left;
  padding-left:20px;
}

.photo {
  display: flex;
  justify-content: center;
  padding: 50px 0 50px;
}

.photo ul li {
  padding: 5px 15px;
  border-left: solid 1px;
  border-top: solid 1px;
  border-bottom: solid 1px;
}

.design, .print {
  background-color: #FFF !important;
  cursor: pointer;
  color: green;
}

.design a, .print a {
  color: green;
}

.design:hover, .print:hover {
  background: #56b321 !important;
  text-decoration: none;
  color: #FFF !important;
  transition: .2s ease-in-out;
}

.design:hover a, .print:hover a {
  text-decoration: none;
  color: #FFF !important;
}

.design a:hover, .print a:hover {
  text-decoration: none;
  color: #FFF !important;
}

.Photography {
  border-radius: 30px 0 0 30px;
  color: #fff !important;
}

.Photography a {
  color: #fff !important;
}

.Photography a:hover {
  color: green !important;
  text-decoration: none;
}

.Photography:hover {
  background-color: #FFF !important;
  color: green !important;
  cursor: pointer;
}

.Photography:hover a {
  color: green !important;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.print {
  border-right: solid 1px;
  border-radius: 0 30px 30px 0;
}

#galerie_haut img, #galerie_bas img {
  padding-bottom: 50px;
}

.more-work {
  display: flex;
  justify-content: center;
}

.more  {
  background-color: #FFF !important;
  color: green;
  font-weight: bold;
  padding: 7px 12px;
  border-radius: 30px !important;
  cursor: pointer;
}

.more:hover {
  background: #56b321 !important;
  color: #FFF;
  text-decoration: none;
  transition: .2s ease-in-out;
}

.more:hover a {
  text-decoration: none;
  color: #FFF !important;
}

/********************* DEBUT CAROUSSEL ****************************/

/* Global */

.sr-only {
  position:absolute;
  width:1px;
  height:1px;
  padding:0;
  margin:-1px;
  overflow:hidden;
  clip:rect(0,0,0,0);
  white-space:nowrap;
  border:0
}

.carousel {
  position: relative;
  padding: 0;
  margin: 0;
}

.carousel-item {
  height: 200px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  list-style-type: none;
}

.portrait-1 {
  display: flex;
align-items: center;
  height: 200px;
  padding: 0 300px 0 300px;
}

.portrait-2 {
  display: flex;
align-items: center;
  height: 200px;
  padding: 0 300px 0 300px;
}

.portrait-3 {
  display: flex;
align-items: center;
  height: 200px;
  padding: 0 300px 0 300px;
}

.item-0 {
  background-color: rgb(205, 219, 235);
  text-align: center;
}

.item-1 {
  background-color: rgb(205, 219, 235);
  text-align: center;
  display: none;
}

.item-2 {
  background-color: rgb(205, 219, 235);
  text-align: center;
  display: none;
}

.imga {
  height: 40px;
  border-radius: 50%;
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.prev-image {
  left: 150px;
}

.next-image {
  right: 150px;
}

.caroussel-title {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

div.next .arrow-right {
  height: 15px;
  width: 15px;
  border-top: 2px solid grey;
  border-right: 2px solid grey;
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 90%;
  -webkit-transform: translate(-70%, -50%) rotate(45deg);
  -ms-transform: translate(-70%, -50%) rotate(45deg);
  -o-transform: translate(-70%, -50%) rotate(45deg);
  transform: translate(-70%, -50%) rotate(45deg);
}

.pause-btn {
  margin-top: 70px;
  text-align: center;
  z-index: 3 !important;
}

.carousel-pause-btn {
  background-color: rgb(205, 219, 235);
  color: #000;
  padding: 5px 12px;
  border-radius: 30px;
  cursor: pointer;
}

.carousel-pause-btn:hover {
  background-color: rgb(182, 190, 201);
  transition: .2s ease-in-out;
}


/********************* FIN DU CAROUSSEL ***************************/

.happy-clients {
  background: #f1f1f1;
  padding-bottom: 30px;
}

.clients {
  width: 100%;
  padding: 30px 150px 0 150px;
}

.all-clients {
  padding-top: 70px;
  text-align: center;
  z-index: 3 !important;
}

.all-clients-btn {
  background: #dcdbdb;
  color: #7c7a7a;
  padding: 5px 22px;
  border-radius: 30px;
  cursor: pointer;
}

.all-clients-btn:hover {
  background: #8d8a8a;
  color: #FFF;
  text-decoration: none;
  transition: .2s ease-in-out;
}

.team {
  background-color: #54d154;
}

.portrait {
  border-radius: 100px;
  min-width: 80%;
}

.vertical {
  border:         none;
  border-left:    1px solid hsla(100, 20%, 50%,50);
  height:         20vh;
  width:          50px;
}

.nom {
  color: #FFF;
}

.icones{
  display: flex;
  justify-content: space-around;
  padding: 5px 0 5px 0;
  border-radius: 30px 30px 30px 30px;
  background-color: #c5e9c5;
}

.reseaux {
  margin-left: 5px;
}

.imgRreseaux {
  max-width: 80%;
  border-radius: 100px;
}


.work-team {
  background: green;
  margin-top: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  z-index: 3 !important;
}

.work-team-btn {
  padding: 10px 15px;
  background: #56b321 !important;
  color: #FFF;
  border-radius: 30px;
  text-decoration: none;
}

.work-team-btn:hover {
  background-color: #FFF !important;
  color: green;
  text-decoration: none;
  transition: .2s ease-in-out;
}

.history {
  background: #363636;
  color: #dcdcdc;
  padding-bottom: 30px;
}

.history .ligne {
  border: solid 1px #dcdcdc;
}

.meet p {
  padding: 5px 40px 5px 40px;
  color: #dcdcdc;
  margin-top: 20px;
}

.icones-down {
  display: flex;
  justify-content: center;
  transform: translateX(130px);
  padding: 5px 0 5px 0;
  border-radius: 30px 30px 30px 30px;
  background-color: #FFF;
}

.posts_bloc {
  display: flex;
  justify-content: start;
  margin-top: 30px;
}

.posts_img {
  width: 60px;
  height: 60px;
}

.p_bloc {
  margin-left: 10px;
}

.posts_p {
  color: #dcdcdc;
  padding: 0;
}

.magazine {
  background: #87d05e;
  color: #FFF;
  padding: 0 10px;
  border-radius: 5px;
  transform: translateY(-15px);
  position: absolute;
  cursor: pointer;
}

.ui_design {
  background: #edb92b;
  color: #FFF;
  padding: 0 10px;
  border-radius: 5px;
  transform: translateY(-15px);
  position: absolute;
  cursor: pointer;
}

.posts_photography {
  background: #599ce7;
  color: #FFF;
  padding: 0 10px;
  border-radius: 5px;
  transform: translateY(-15px);
  position: absolute;
  cursor: pointer;
}

.book {
  background: #d34e15;
  color: #FFF;
  padding: 0 10px;
  border-radius: 5px;
  transform: translateY(-15px);
  position: absolute;
  cursor: pointer;
}

.ux_design {
  background: #edb92b;
  color: #FFF;
  padding: 0 10px;
  border-radius: 5px;
  transform: translateY(-15px);
  position: absolute;
  cursor: pointer;
}

.contact_adress {
  margin-top: 20px;
}

.contact_p {
  text-align: center;
  color: #dcdcdc;
}

.contact_form input {
  width: 100%;
  background: #464646;
  color: #dcdcdc;
  border-style: none;
  margin-top: 2px;
  padding: 10px;
}

#msg {
  width: 100%;
  background: #464646;
  color: #dcdcdc;
  border-style: none;
  margin-top: 2px;
  height: 250px;
  padding: 10px;
}

.send {
  background: #5e9a39;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.send a {
  color: #FFF;
}

.send:hover {
  color: #5e9a39 !important;
  background: #FFF;
  text-decoration: none;
  transition: .2s ease-in-out;
}

.send a:hover {
  color: #5e9a39 !important;
  text-decoration: none;
}


